html {
	margin: 0;
	padding: 0;
}
body {
	background-color: #252525;
	padding: 10px;
	margin: 0;
}
h1 {
	font-family: 'Roboto Slab', serif !important;
	color: #83E3BE !important;
	margin-top: 4px;
	margin-bottom: 1px;
}
h2 {
	font-family: 'Roboto Slab', serif;
	color: #83E3BE;
	margin-top: 0px;
	margin-bottom: 3px;
}
img {
	border-radius: 50%;
	width: 180px
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
p {
	font-family: 'Oxygen', sans-serif;
	color: #fff;
	padding: 0;
	margin: 0;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 1px;
	text-align: center;
}
.img-circle {
	border: 3px solid white;
	border-radius: 50%;
}
.section {
	background-color: #303030;
	padding: 15px;
	margin-bottom: 2px;
	margin-top: 20px;
	border-radius: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.quote {
	font-size: 12pt;
	text-align: right;
	margin-top: 10px;
}
table {
	width: 100%;
	font-size: 11pt;
}
table, th, td {
	border: 2px solid #cecece;
	border-collapse: collapse;
	text-align: center;
	table-layout: fixed;
}
.selected {
	background-color: #f36f48;
	font-weight: bold;
	color: white;
}
li {
	margin-bottom: 15px;
	font-weight: bold;
}
iframe, audio {
	display: block;
	margin: 0 auto;
	border: 3px solid #3fb6b2;
}
hr {
	border: 0;
	height: 1px;
	background: #f36f48;
}
form {
	text-align: center;
	margin-top: 0;
}
.submit {
	background-color: #3fb6b2;
	padding: 12px 45px;
	border-radius: 5px;
	cursor: pointer;
	color: #ffffff;
	border: none;
	outline: none;
	margin: 0;
	font-weight: bold;
}
.submit:hover {
	background-color: #43a09d;
}
textarea {
	height: 100px;
}
input, textarea {
	margin-bottom: 10px;
	font-size: 11pt;
	padding: 15px 10px 10px;
	border: 1px solid #cecece;
	background-color: #efefef;
	color: #787575;
	border-radius: 5px;
	width: 70%;
	outline: none;
}
.face {
	transform: scale(0.4);
	margin: 0 auto;
	display: block;
	margin-top: -35px;
	margin-bottom: -25px;
}
#contacts img {
	height: 50px;
	width: 50px;
	margin-left: 7px;
	margin-right: 7px;
}
#contacts a {
	text-decoration: none;
}
#contacts img:hover {
	opacity: 0.8;
}
#contacts {
	text-align: center;
}
.copyright {
	font-family: 'Oxygen', serif;
	font-size: 8pt;
	text-align: center;
	padding-bottom: 4px;
	margin-top: 4px;
	color: grey;
}
.button {
  position: relative;
  background-color: #4CAF50;
  border: none;
  font-size: 18px;
  font-family: 'Roboto', sans-serif !important;
  color: #FFFFFF;
  padding: 14px;
  width: 150px;
  margin-right: 5px;
  margin-left: 5px;
  align: center;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  border-radius: 2px;
  overflow: hidden;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
