body {
  background-image: url('images/mobile-bg.jpg');
  background-color: #252525;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}
@media only screen and (min-device-width: 414px) {
  body {
    background-color: #252525;
  }
}
h1 {
  color: #83E3BE;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 200%;
  margin-top: 5px;
}

h2 {
  color: #83E3BE;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  margin-top: 5px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 40%;
}
.section {
  background-color: #282828;
  padding: 15px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 2px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#toptext {
  font-family: 'Oxygen', sans-serif;
  color: rgb(211, 211, 211);
}